@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: #f0e7e78c;
    height: 90vh;
}
.navigation{
    background-color: rgba(88, 68, 75, 0.55);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
    height: 20vh;
}
h1, p {
    text-align: center;
}
h4{
    margin: 2px;
}

button{
    font-family: inherit;
    margin: 0;
    width:100px;
    height: 4vh;
    border-radius:5px;
    box-shadow: 0px 5px 20px rgb(0,0,0,0.5);
    border:none;
    background-color: rgb(148, 92, 92);
}
.link{
    font-family: inherit;
    color: black;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    height: 10vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    /* position: relative; */
    word-wrap: break-word;
    /* position: relative; */
    text-align: center;
    margin: 5px;
    width: 300px;
    height: 10vh;
    border-radius:5px;
    padding:5px;
    box-shadow: 0px 5px 20px rgba(84, 72, 72, 0.5);
    transition: 0.3s;
    background: rgb(148, 92, 92);
    cursor: pointer;
}
.card:hover{
    color: black;
    background-color: rgba(160, 142, 142, 0.5);
    transform: scale(1.5);
    z-index: 1;
    height: 20vh;
}

.content{
    opacity: 0;
    margin: 2px;
}

.card:hover > .content{
    color: black;
    opacity: 1;
}
